@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --main-gradient: radial-gradient(
    circle,
    rgba(238, 226, 220, 1) 0%,
    rgba(186, 179, 181, 1) 50%,
    rgba(3, 3, 67, 1) 100%
  );
  --card-shadow-dark: 5px 5px 10px -5px #000000; /* #030343 */
  --card-shadow-light: 5px 5px 10px -5px #ffffff;
}

* {
  scroll-behavior: smooth;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.form__text-area {
  resize: none;
}

.box-shadow-full {
  box-shadow: 0px 0px 10px #000000;
}

.box-shadow {
  box-shadow: var(--card-shadow-dark);
}

.box-shadow-light {
  box-shadow: var(--card-shadow-light);
}

.btn-card {
  box-shadow: var(--card-shadow-dark);
}

.service-card:hover {
  animation: scale 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.underLine:hover {
  text-decoration: underline;
}

.nav-text:hover {
  border-bottom: 3px solid #d1e0e0;
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

@keyframes scale {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(102%);
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
