@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --main-gradient: radial-gradient(
    circle,
    rgba(238, 226, 220, 1) 0%,
    rgba(186, 179, 181, 1) 50%,
    rgba(3, 3, 67, 1) 100%
  );
  --card-shadow-dark: 5px 5px 10px -5px #000000; /* #030343 */
  --card-shadow-light: 5px 5px 10px -5px #ffffff;
}

* {
  scroll-behavior: smooth;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.form__text-area {
  resize: none;
}

.box-shadow-full {
  box-shadow: 0px 0px 10px #000000;
}

.box-shadow {
  box-shadow: var(--card-shadow-dark);
}

.box-shadow-light {
  box-shadow: var(--card-shadow-light);
}

.nav-style {
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.nav-style:focus:after,
.nav-style:hover:after {
  width: 100%;
  left: 0%;
}

.nav-style:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.btn-card {
  box-shadow: var(--card-shadow-dark);
}

.focus-card {
  transition: 0.5s ease-out;
}

.focus-card:hover {
  box-shadow: 0 4px 18px 0 var(--card-shadow-dark);
}

.service-card {
  position: relative;
  border: 2px solid #b5c8b5;
  transition: 0.5s ease-out;
  transition: box-shadow 0.3s ease;
}

.service-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #030343;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: bottom 0.3s ease;
}

.service-card:hover {
  border-color: #030343;
  box-shadow: 0 4px 18px 0 var(--card-shadow-dark);
}

.service-card:hover .service-button {
  bottom: 10px;
}

.underLine:hover {
  text-decoration: underline;
}

.nav-text:hover {
  border-bottom: 3px solid #d1e0e0;
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

@keyframes scale {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(102%);
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
